.list-task-list {
	display: flex;
	flex-direction: column;
}

.item-task-list {
	width: calc(20% - 1rem);
	height: 12rem;
	background-color: #fdfdfd;
	margin: 0.5rem;
	color: #282828;
	border-radius: 0.3rem;
}
