.confirm-modal{
    display: none;
    border-radius: 0.3rem;
}

.close-button-modal{
    float: right;
    font-size: 1.3rem;
    border: none;
    background-color: #FDFDFD;
    font-weight: normal;
    padding: 0;
}


.close-button-modal:hover{
    color: #FF2040;
}

.title-confirm-modal{
    clear: both;
    color: #FF2040;
}

.description-confirm-modal{
    margin-top: 1rem;
}

.buttons-confirm-modal{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.cancel-button-modal, .confirm-button-modal{
    border: none;
    font-weight: bold;
    height: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.cancel-button-modal:hover, .confirm-button-modal:hover{
    transition: 400ms;
    transform: scale(1.3);    
}

.cancel-button-modal{
    background-color: #CCCCCC;
    color: #FDFDFD;
    margin-right: 1rem;
}

.confirm-button-modal{
    background-color: #FF2040;
    color: #FDFDFD;
}