.form-register-form{
    width: calc(100% - 5rem);
    padding-right: 2rem;
    font-weight: bold;
}

.form-register-titulo, .form-register-descricao{
    display: flex;
    flex-direction:column;
    margin-bottom: 1rem;
}

.form-register-titulo>label, .form-register-descricao>label{
    margin-bottom: 0.5rem;
}

.form-register-titulo>input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
}

.form-register-titulo>input, .form-register-descricao>textarea{
    background-color: #FDFDFD;
}

.form-register-descricao>textarea{
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.form-register-button{
    border: none;
    background-color: #3500D3;
    color: #FDFDFD;
    font-weight: bold;
    border-radius: 0.2rem;
    padding: 0.5rem;
}
