.card-task-card{
    padding: 0.5rem 1rem 1rem 1rem;
}

.card-content{
    display: flex;
    flex-direction: column;
}

.task-card-delete{
    align-self: flex-end;
    font-size: 1.3rem;
    background-color: #FDFDFD;
    font-weight: normal;
    padding: 0;
}

.task-card-delete:hover{
    color: #FF2040;
}

.description-task-card{
    margin-top: 1rem;
    max-height: 7rem;
}